table.st-linear-table{
  width: 100%;
  padding: 0px;
  height: 26px;
  background-color: transparent;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.st-linear-table{
  width: 100%;
  padding: 0px;
  height: 26px;
  background-color: transparent;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
