
:local .bodyCell {
  border: 1px solid lightgray; 
  margin: 0px;
  font-family: Tahoma,​Helvetica,​sans-serif;
  font-size: 12px;
  height: 30px;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}


