
/**
* field
*/
TABLE.st-field-table-project{
  border-collapse: collapse;
  //border-collapse: separate;
  border: 1px lightgray solid;
  //border-radius: 0.5em;
}

TD.st-field-input-td-project{
  border: 1px lightgray solid;
}



/**
 Combobox
*/
td.st-combobox-list-td-project {
  background-color: white;
  border: 1px lightgray solid;
}

td.st-combobox-list-td-selected-project {
  background-color: #EDF5FC;
  border: 1px lightgray solid;
}

td.st-combobox-list-td-mouseover-project {
  background-color: #FEFFBF;
  border: 1px lightgray solid;
}

/**
 table
*/
table.st-innerTableLayout-table {
 //border: 1px lightgray solid;
}

/*
* header cell background
*/


td.st-grid-head-cell-project {
  background-color: #586169;
  border: 1px lightgray solid;
  color: #FEFEFE;
  font-weight: bold;
  font-family: "Tahoma",Helvetica,sans-serif;
  font-size: 10pt;

} 

td.st-grid-body-cell-project-one {
  background-color: white;
}

td.st-grid-body-cell-project-two {
  background-color: #f5fbf7;
}

td.st-grid-body-cell-project-selected {
  background-color: #c9e2ff;
}